[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "makicoint"]
	path = makicoint
	url = https://github.com/merwanroudane/makicoint
[submodule "mqqcause"]
	path = mqqcause
	url = https://github.com/merwanroudane/qqcaus
[submodule "mqqr"]
	path = mqqr
	url = https://github.com/merwanroudane/multiqqr
[submodule "qqkrls"]
	path = qqkrls
	url = https://github.com/merwanroudane/qqkrlsr
[submodule "wqrr"]
	path = wqrr
	url = https://github.com/merwanroudane/wqrr
